body,
html {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  min-width: 320px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --spacing: 20px;
  --spacing-small: 12px;
  --border-width: 6px;
  --outline-width: 6px;
  --border-radius: 20px;
  --emoji-size: .7em;
  --logo-height: 34dvh;
  --logo-mobile-height: 180px;
  --logo-small-height: calc(var(--logo-mobile-height) / 1.25);
  --spacing-for-logo-big: calc(var(--logo-mobile-height) + var(--spacing));
  --spacing-for-logo-small: calc(var(--logo-small-height) + var(--spacing));
  --red: #ff0f08;
  --orange: #ff6600;
  --yellow: rgba(255, 228, 49, 1);
  --gradient-background: linear-gradient(180deg, var(--yellow), var(--orange) 15%, var(--red) 68%);
  --gradient-background-intro: linear-gradient(180deg, var(--yellow), var(--orange) 50%, var(--red) 100%);
  --video-scale: .75;
  --video-scale-multiplier: .3333;
  --mobile-breakpoint: 600px;
  --tablet-breakpoint: 900px;
  --large-text-line-height: .85;
  --medium-text-line-height: 1.05;
  --small-text-line-height: 1.2;
  --marquee-height: 75px;
  --marquee-height-mobile: 35px;
  --marquee-font-size: calc(var(--marquee-height) * .5);
  --easing: cubic-bezier(0.4, 0, 0.2, 1);
  --easingDuration: .4s;
  --content-max-width: 1400px;
  --content-item-max-height: 75vh;
  --content-item-max-width: 800px ;
}

body {
  background: var(--gradient-background);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -0.3px;
}

a {
  color: var(--orange);
  font-weight: bold;
  text-decoration: none;
  transition: all var(--easingDuration) var(--easing);
}
a:hover {
  color: var(--red);
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.box {
  background-color: white;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  border: var(--border-width) solid black;
  position: relative; /* Added position relative */
  margin: var(--outline-width) auto;
}

.box::before {
  content: "";
  position: absolute;
  top: calc(-1 * (var(--border-width) + var(--outline-width)));
  left: calc(-1 * (var(--border-width) + var(--outline-width)));
  width: calc(100% + (var(--border-width) + var(--outline-width)) * 2);
  height: calc(100% + (var(--border-width) + var(--outline-width)) * 2);
  background-color: white;
  border-radius: calc(var(--border-radius) + var(--border-width));
  z-index: -1;
}

ul.links {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 1px;
  flex-wrap: wrap;
  padding: var(--padding);
  justify-content: center;
  align-items: center;
}
ul.links .head {
  display: block;
  flex: 1 1 100%;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5em;
}
ul.links a {
  color: white;
  padding: 3px 10px;
  display: block;
}

span.emoji-pair {
  white-space: nowrap;
}

span.emoji {
  font-size: var(--emoji-size);
  line-height: inherit;
  vertical-align: middle;
  position: relative;
  top: calc((-1em + var(--emoji-size)) / 2);
}

@property --headerGradientColorTop {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}
@property --headerGradientColorBottom {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}
.button {
  background-color: white;
  display: inline-block;
  padding: 30px;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background-color: var(--yellow);
  color: var(--red);
  text-decoration: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  padding: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--headerGradientColorTop), var(--headerGradientColorBottom) 50%);
  transition: --headerGradientColorTop var(--easingDuration) var(--easing), --headerGradientColorBottom var(--easingDuration) var(--easing);
}
header > .logo {
  cursor: default;
  font-size: 0.001px;
  filter: drop-shadow(2px 2px 10px rgba(249, 32, 32, 0.5));
}
header > .logo img {
  display: block;
  max-height: var(--logo-height);
  width: 100%;
  height: auto;
  transition: all 1s var(--easing);
  position: relative;
  margin-top: -5%;
}
header.scrolled {
  --headerGradientColorTop: var(--yellow);
}
header.scrolled > .logo {
  cursor: pointer;
}
header.scrolled > .logo img {
  max-height: var(--logo-small-height);
}
header.scrolled > .logo img:hover {
  animation: jiggle 0.3s infinite;
}
header.scrolled > .logo img:active {
  transform: scale(0.9);
  animation: unset;
}

header.scrolled ~ .sticker-book {
  z-index: 1 !important;
}

section {
  min-height: 100vh;
  min-height: 100dvh;
}
section:not(.portfolio.photo) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section .section-information {
  display: flex;
  color: white;
  max-width: var(--content-max-width);
  margin: 0 auto;
}
section .section-information > h2.title {
  font-size: 5.2rem;
  line-height: var(--large-text-line-height);
  letter-spacing: -0.025em;
  margin: 0;
  text-transform: uppercase;
}
section .section-information > .description {
  font-size: 1.75em;
  letter-spacing: -0.025em;
  line-height: var(--medium-text-line-height);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
section .section-information > .description > ul.tags {
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
}
section .section-information > .description > ul.tags > li {
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1;
  text-transform: uppercase;
}
section.intro {
  position: relative;
}
section.intro .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--gradient-background-intro);
  z-index: -2;
}
section.intro .intro-content {
  text-align: center;
  margin: calc(var(--spacing-for-logo-big) + var(--marquee-height)) var(--spacing) calc(var(--spacing-for-logo-big) - var(--marquee-height)) var(--spacing);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section.intro .intro-content .description {
  max-width: 500px;
}
section.intro .intro-content .description img.click {
  width: 50px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
section.intro .intro-content .description p.text {
  display: block;
  margin: 0;
}
section.intro .intro-content .description p.text.leading {
  font-size: 3em;
  line-height: var(--large-text-line-height);
  font-weight: 700;
}
section.intro .intro-content .description p.text.secondary {
  font-size: 2em;
  line-height: var(--medium-text-line-height);
  font-weight: 700;
}
section.intro .intro-content .description p.text.small {
  font-size: 1.2em;
  line-height: var(--small-text-line-height);
}
section.intro .intro-content .description .text + .text {
  margin-top: var(--spacing-small);
}
section.intro .intro-content .description + ul.links {
  margin-top: var(--outline-width);
  font-size: 1.5em;
  line-height: 1em;
}
section.intro .marquee-wrapper {
  margin-top: auto;
  background-color: var(--yellow);
  width: 100%;
  font-weight: 400;
  height: var(--marquee-height);
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
section.intro .marquee-wrapper.top {
  top: 0;
  bottom: auto;
}
section.intro .marquee-wrapper > .marquee {
  height: inherit;
  line-height: var(--marquee-height);
  font-size: var(--marquee-font-size);
}
section.portfolio {
  margin: 0 auto;
  padding: var(--spacing);
  padding: 200px 0;
  gap: var(--spacing);
}
section.portfolio > .portfolio-inner {
  max-width: var(--content-max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  align-items: center;
  justify-content: center;
}
section.portfolio.merch img.shirt {
  border-radius: var(--border-radius);
  max-height: var(--content-item-max-height);
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
section.portfolio.music iframe.spotify {
  margin: 0 auto;
  display: block;
  text-align: center;
  min-height: 75vh;
  min-height: 75dvh;
}
section.portfolio.photo {
  max-width: unset;
}
section.portfolio.photo .section-information {
  margin-bottom: var(--spacing);
}
section.portfolio.photo, section.portfolio.music, section.portfolio.merch {
  padding: 200px var(--spacing);
}
section.portfolio.live .ikea-wrapper {
  padding: 0 var(--spacing);
  width: 100%;
  max-width: var(--content-max-width);
}
section.portfolio.live .ikea-wrapper > .box.ikea {
  text-align: center;
  width: 100%;
}
section.portfolio.live .ikea-wrapper > .box.ikea ul.parts {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
section.portfolio.live .ikea-wrapper > .box.ikea ul.parts > li {
  text-align: center;
  white-space: nowrap;
}
section.portfolio.live .ikea-wrapper > .box.ikea ul.parts > li span.num {
  font-size: 1.2em;
  font-weight: bold;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > div.num {
  position: absolute;
  font-size: 1.4em;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > div.num.one {
  top: 54%;
  left: 6%;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > div.num.two {
  top: 22%;
  left: 32%;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > div.num.three {
  top: 16%;
  left: 65%;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > div.num.four {
  top: 55%;
  left: 76%;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > div.num.five {
  top: 77%;
  left: 89%;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > div.num > span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: black;
  line-height: 1;
  padding: 2px;
  border-radius: 300px;
  color: white;
}
section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > img {
  width: 100%;
}
section.portfolio.live, section.portfolio.video {
  max-width: unset;
  padding-left: 0;
  padding-right: 0;
}
section.portfolio.live > .section-information, section.portfolio.video > .section-information {
  padding: 0 var(--spacing);
}
section.portfolio.live > .portfolio-piece, section.portfolio.video > .portfolio-piece {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing);
  padding: var(--spacing);
}
section.portfolio.live > .portfolio-piece + .portfolio-piece, section.portfolio.video > .portfolio-piece + .portfolio-piece {
  border-top: 2px dotted var(--orange);
}
section.portfolio.live .portfolio-column, section.portfolio.video .portfolio-column {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  width: 100%;
  max-width: var(--content-max-width);
  justify-content: center;
  gap: var(--spacing-small);
}
section.portfolio.live .portfolio-column > .portfolio-piece, section.portfolio.video .portfolio-column > .portfolio-piece {
  transition: opacity 1000ms;
  opacity: 0;
  --portfolio-columns: 3;
  --portfolio-flex-value: 0 0 calc((100% / var(--portfolio-columns)) - (var(--spacing)/2) * (var(--portfolio-columns) - 1));
  flex: var(--portfolio-flex-value);
  gap: var(--spacing);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
section.portfolio.live .portfolio-column > .portfolio-piece.fadeIn, section.portfolio.video .portfolio-column > .portfolio-piece.fadeIn {
  opacity: 1;
}
section.portfolio.live .portfolio-column > .portfolio-piece.vertical, section.portfolio.video .portfolio-column > .portfolio-piece.vertical {
  flex: var(--portfolio-flex-value);
}
section.portfolio.live .portfolio-column > .portfolio-piece.full-width, section.portfolio.live .portfolio-column > .portfolio-piece.horizontal, section.portfolio.video .portfolio-column > .portfolio-piece.full-width, section.portfolio.video .portfolio-column > .portfolio-piece.horizontal {
  flex: 0 0 100%;
  padding: 0 var(--spacing);
}
section.portfolio.live .portfolio-column > .portfolio-piece > .video-container iframe, section.portfolio.video .portfolio-column > .portfolio-piece > .video-container iframe {
  border-radius: var(--border-radius);
  overflow: hidden;
}
section.portfolio.live .portfolio-column > .portfolio-piece > .video-container.horizontal, section.portfolio.video .portfolio-column > .portfolio-piece > .video-container.horizontal {
  padding: 56.25% 0 0 0;
}
section.portfolio.live .portfolio-column > .portfolio-piece > .video-container.vertical, section.portfolio.video .portfolio-column > .portfolio-piece > .video-container.vertical {
  padding: 177.78% 0 0 0;
}
section.portfolio.live .portfolio-column > .portfolio-piece > .section-information, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information {
  max-width: unset;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  gap: var(--spacing-small);
}
section.portfolio.live .portfolio-column > .portfolio-piece > .section-information > *, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information > * {
  width: 100%;
  max-width: 100%;
}
section.portfolio.live .portfolio-column > .portfolio-piece > .section-information > h2.title, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information > h2.title {
  font-size: 2.25rem;
}
section.portfolio.live .portfolio-column > .portfolio-piece > .section-information > .description, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information > .description {
  font-size: 1.25rem;
  align-items: center;
  gap: var(--spacing-small);
}
section.portfolio.live .portfolio-column > .portfolio-piece > .section-information > .description > ul.tags, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information > .description > ul.tags {
  justify-content: center;
}
section.portfolio + section {
  border-top: 2px dotted var(--orange);
}

/* Calculate column width */
/* Generate column classes */
.col-1 {
  flex: 0 1 auto;
  width: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-2 {
  flex: 0 1 auto;
  width: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-3 {
  flex: 0 1 auto;
  width: 50%;
  max-width: 50%;
}

.col-4 {
  flex: 0 1 auto;
  width: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-5 {
  flex: 0 1 auto;
  width: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-6 {
  flex: 0 1 auto;
  width: 100%;
  max-width: 100%;
}

.grid {
  display: flex;
  gap: var(--spacing);
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  section .section-information > h2.title {
    font-size: 3rem;
  }
  section .section-information > .description {
    font-size: 1.25rem;
  }
  .grid {
    flex-direction: column;
  }
  /* Generate column classes */
  .col-1 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .col-3 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .col-5 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
}
footer {
  padding: var(--spacing);
  background-color: black;
  color: #fff;
  padding: var(--logo-small-height) var(--spacing);
}
footer a {
  color: white;
}
footer h3.head {
  margin: 0;
  font-size: 1.3em;
}
footer h3.head + p {
  margin-top: 10px;
}
footer p + p {
  margin-top: 5px;
}
footer ul {
  list-style-type: none;
}
footer ul > li + li {
  margin-top: 5px;
}

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.video-container.vertical {
  padding: calc(var(--video-scale) * var(--video-scale-multiplier) * 177.78%) 0 0 0;
}
.video-container.horizontal {
  padding: calc(var(--video-scale) * 56.25%) 0 0 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* TEMP */
section.intro .intro-content {
  margin: auto 0;
  padding: 20px;
  padding-bottom: calc(var(--marquee-height) + var(--spacing));
}
section.intro .image {
  flex: 1 0 auto;
  width: 100%;
}
section.intro .image .logo-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background: linear-gradient(var(--headerGradientColorTop), var(--headerGradientColorBottom) 50%);
  transition: --headerGradientColorTop var(--easingDuration) var(--easing), --headerGradientColorBottom var(--easingDuration) var(--easing);
  position: fixed;
  top: 0;
  font-size: 0.00001px;
  cursor: default;
}
section.intro .image .logo-wrapper img {
  width: auto;
  height: 100%;
  max-width: 100%;
  padding: 0 var(--spacing);
  height: 0px;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: height, max-height;
}
section.intro .spacer {
  flex: 0 1 auto;
}
section.intro header {
  display: none;
}

header.scrolled + .image .logo-wrapper {
  --headerGradientColorTop: var(--yellow);
}
header.scrolled + .image .logo-wrapper img {
  cursor: pointer;
}
header.scrolled + .image .logo-wrapper img:hover {
  animation: jiggle 0.3s infinite;
}
header.scrolled + .image .logo-wrapper img:active {
  transform: scale(0.9);
  animation: unset;
}

/* TEMP END */
@media only screen and (max-width: 1024px) {
  .button {
    font-size: 0.9em;
    padding: 20px;
  }
  .box {
    padding: var(--spacing-small);
  }
  :root {
    --video-scale: 1;
    --video-scale-multiplier: 1;
    --marquee-height: var(--marquee-height-mobile);
  }
  header > .logo img {
    max-height: var(--logo-mobile-height);
  }
  .video-container {
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  section.portfolio.live .ikea-wrapper > .box.ikea > .image-wrapper > div.num {
    font-size: 1em;
  }
  section.portfolio.live .portfolio-column, section.portfolio.video .portfolio-column {
    padding: 0 var(--spacing);
  }
  section.portfolio.live .portfolio-column > .portfolio-piece, section.portfolio.video .portfolio-column > .portfolio-piece {
    --portfolio-columns: 2;
  }
  section.portfolio.live .portfolio-column > .portfolio-piece.force-3-desktop > .portfolio-piece, section.portfolio.video .portfolio-column > .portfolio-piece.force-3-desktop > .portfolio-piece {
    --portfolio-columns: 3;
  }
  section.portfolio.live .portfolio-column > .portfolio-piece > .section-information, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information {
    gap: var(--spacing-small);
  }
  section.portfolio.live .portfolio-column > .portfolio-piece > .section-information > h2.title, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information > h2.title {
    font-size: 1.35rem;
    line-height: 0.95em;
  }
  section.portfolio.live .portfolio-column > .portfolio-piece > .section-information > .description, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information > .description {
    font-size: 1.025rem;
  }
  section.portfolio.live .portfolio-column > .portfolio-piece > .section-information > .description > ul.tags > li, section.portfolio.video .portfolio-column > .portfolio-piece > .section-information > .description > ul.tags > li {
    padding: 8px 10px;
    font-size: 0.6em;
    line-height: 1em;
  }
}
@media only screen and (max-width: 600px) {
  section.portfolio.live .portfolio-column > .portfolio-piece, section.portfolio.video .portfolio-column > .portfolio-piece {
    --portfolio-columns: 2;
  }
  section.portfolio.live .portfolio-column.force-3-desktop > .portfolio-piece, section.portfolio.video .portfolio-column.force-3-desktop > .portfolio-piece {
    --portfolio-columns: 1;
  }
}
@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}
.sticker-book .sticker-wrapper.wendy {
  left: 29.0278%;
  top: 9.96354%;
}
.sticker-book .sticker-wrapper.terri {
  top: 14.826%;
  left: 59.4745%;
}
.sticker-book .sticker-wrapper.spiderman {
  top: 8.68878%;
  left: 0%;
}
.sticker-book .sticker-wrapper.timmy {
  top: 41.942%;
  left: 26.4583%;
}
.sticker-book .sticker-wrapper.edward {
  left: 62.9328%;
  top: 55.9624%;
}

@media only screen and (max-width: 1024px) {
  .sticker-book .sticker-wrapper.wendy {
    left: 3.44477%;
    top: 26.4156%;
  }
  .sticker-book .sticker-wrapper.terri {
    top: 20.8549%;
    left: 75.6203%;
  }
  .sticker-book .sticker-wrapper.spiderman {
    top: 7.18321%;
    left: 0%;
  }
  .sticker-book .sticker-wrapper.timmy {
    left: 2.94985%;
    top: 50.3439%;
  }
  .sticker-book .sticker-wrapper.edward {
    left: 77.6744%;
    top: 57.8142%;
  }
}/*# sourceMappingURL=style.css.map */